{% extends 'base.html' %}
{% block container %}
{% load paginator %}
    <form  role="form" class="form-horizontal from_data" method='post' action="{{action}}" >{% csrf_token %}
        <table align="center">
            <tr>
                <td><input type="text" name="txtsearch" placeholder="Search here"
                           style="width:500px; height:35px"></td>
                <td><input type="submit" value="Search" style="height:35px"></td>
            </tr>
        </table>
    </form>
{% endblock %}